In [4]:
import pandas as pd
import numpy as np
import plotnine as pn
import plotly.graph_objs as go
import plotly.express as px
from tqdm.notebook import tqdm
from IPython.display import clear_output, display
import os
from itertools import product
from pulp import (
    LpMaximize,
    LpMinimize,
    LpProblem,
    LpStatus,
    lpSum,
    LpVariable,
    LpContinuous,
    LpInteger,
    value
)
from itertools import product

from deap import base, creator, tools, algorithms
import imageio

# Import own implementations
from milp import MILP

background_colour = "#F2F2F2"
pn.theme_set(
    pn.theme_classic()
    + pn.theme(
        text=pn.element_text(family="monospace"),
        plot_background=pn.element_rect(
            fill=background_colour, colour=background_colour
        ),
        panel_background=pn.element_rect(
            fill=background_colour, colour=background_colour
        ),
        legend_background=pn.element_rect(
            fill=background_colour, colour=background_colour
        ),
    )
)

%load_ext blackcellmagic

The blackcellmagic extension is already loaded. To reload it, use:
  %reload_ext blackcellmagic

### Reading the Price data

In [2]:
df = pd.read_csv("../01 - Data/example_week.csv")
df.head(2)

     spot                   utc_time
0  101.54  2022-01-01 00:00:00+00:00
1   52.13  2022-01-01 01:00:00+00:00

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 168 entries, 0 to 167
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   spot      168 non-null    float64
 1   utc_time  168 non-null    object
dtypes: float64(1), object(1)
memory usage: 2.8+ KB

### The Power Plant

In [5]:
plant_params = {
    "EFFICIENCY": 0.75,
    "MAX_STORAGE_M3": 5000,
    "MIN_STORAGE_M3": 0,
    "TURBINE_POWER_MW": 100,
    "PUMP_POWER_MW": 100,
    "TURBINE_RATE_M3H": 500,
    "MIN_STORAGE_MWH": 0,
    "INITIAL_WATER_LEVEL_PCT": 0,
}
plant_params["INITIAL_WATER_LEVEL"] = (
    plant_params["INITIAL_WATER_LEVEL_PCT"] * plant_params["MAX_STORAGE_M3"]
)
plant_params["PUMP_RATE_M3H"] = (
    plant_params["TURBINE_RATE_M3H"] * plant_params["EFFICIENCY"]
)
plant_params["MAX_STORAGE_MWH"] = (
    plant_params["MAX_STORAGE_M3"] / plant_params["TURBINE_RATE_M3H"]
) * plant_params["TURBINE_POWER_MW"]

### One Week

In [9]:
milp_solver = MILP(plant_params=plant_params, spot=df["spot"], utc_time=df["utc_time"])

In [10]:
milp_model, milp_status, milp_profile = milp_solver.solve()

In [11]:
milp_status

'Optimal'

In [13]:
milp_profile.head()

   water_level  action colour_id                  utc_time    spot
0          0.0       0   nothing 2022-01-01 00:00:00+00:00  101.54
1        375.0      -1      pump 2022-01-01 01:00:00+00:00   52.13
2        750.0      -1      pump 2022-01-01 02:00:00+00:00   20.78
3       1125.0      -1      pump 2022-01-01 03:00:00+00:00   15.66
4       1500.0      -1      pump 2022-01-01 04:00:00+00:00   21.47