# Pumped-Storage Optimisation with Neural Network trained by Genetic Algorithm

In [2]:
import pandas as pd
import numpy as np
import plotnine as pn
import plotly.graph_objs as go
import plotly.express as px
from tqdm.notebook import tqdm
from IPython.display import clear_output, display
import os
from itertools import product

# Import own implementations
from milp import MILP
import genetic
from genetic import GA

# Importing tuning libraries
import ray
from ray import train, tune
from ray.tune.search.optuna import OptunaSearch
from ray.tune.schedulers import ASHAScheduler

# Import Pytorch stuff
import torch
import torch.nn as nn
import torch.nn.functional as F
from torch.utils.data import DataLoader
import torch.optim as optim

# Import genetic algorithm library
from deap import base, creator, tools, algorithms

background_colour = "#F2F2F2"
pn.theme_set(
    pn.theme_classic()
    + pn.theme(
        text=pn.element_text(family="monospace"),
        plot_background=pn.element_rect(
            fill=background_colour, colour=background_colour
        ),
        panel_background=pn.element_rect(
            fill=background_colour, colour=background_colour
        ),
        legend_background=pn.element_rect(
            fill=background_colour, colour=background_colour
        ),
    )
)

%load_ext blackcellmagic

The blackcellmagic extension is already loaded. To reload it, use:
  %reload_ext blackcellmagic

## The Power Plant

In [3]:
plant_params = {
    "EFFICIENCY": 0.75,
    "MAX_STORAGE_M3": 5000,
    "MIN_STORAGE_M3": 0,
    "TURBINE_POWER_MW": 100,
    "PUMP_POWER_MW": 100,
    "TURBINE_RATE_M3H": 500,
    "MIN_STORAGE_MWH": 0,
    "INITIAL_WATER_LEVEL_PCT": 0,
}
plant_params["INITIAL_WATER_LEVEL"] = (
    plant_params["INITIAL_WATER_LEVEL_PCT"] * plant_params["MAX_STORAGE_M3"]
)
plant_params["PUMP_RATE_M3H"] = (
    plant_params["TURBINE_RATE_M3H"] * plant_params["EFFICIENCY"]
)
plant_params["MAX_STORAGE_MWH"] = (
    plant_params["MAX_STORAGE_M3"] / plant_params["TURBINE_RATE_M3H"]
) * plant_params["TURBINE_POWER_MW"]
plant_params["LOOKAHEAD"] = (
    plant_params["MAX_STORAGE_M3"] / plant_params["TURBINE_RATE_M3H"]
) * 3

## Price Data

In [4]:
df = pd.read_csv("../01 - Data/spot_prices_utc.csv").assign(utc_time = lambda x: pd.to_datetime(x.utc_time))
df.head(2)

    spot                  utc_time
0  36.99 2017-12-31 23:00:00+00:00
1  31.08 2018-01-01 00:00:00+00:00

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48166 entries, 0 to 48165
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   spot      48166 non-null  float64
 1   utc_time  48166 non-null  datetime64[ns, UTC]
dtypes: datetime64[ns, UTC](1), float64(1)
memory usage: 752.7 KB

In [6]:
df.utc_time.min()

Timestamp('2017-12-31 23:00:00+0000', tz='UTC')

In [7]:
df.utc_time.max()

Timestamp('2023-06-30 21:00:00+0000', tz='UTC')

Keep the part that was before the madness:

In [8]:
df = df.query('utc_time < @pd.Timestamp("2020-01-01", tz="UTC")')

Then set two weeks aside, one for validation and one for testing.

In [9]:
df_train = df.query('utc_time < @pd.Timestamp("2019-12-18", tz="UTC")').reset_index(
    drop=True
)
df_val = (
    df.query('utc_time >= @pd.Timestamp("2019-12-18", tz="UTC")')
    .query('utc_time < @pd.Timestamp("2019-12-25", tz="UTC")')
    .reset_index(drop=True)
    .reset_index(drop=True)
)
df_test = df.query('utc_time >= @pd.Timestamp("2019-12-25", tz="UTC")').reset_index(
    drop=True
)

In [10]:
print(df_train.shape, df_val.shape, df_test.shape)

(17184, 2) (168, 2) (168, 2)

### Preparing the dataset for the neural network

In [11]:
df_train

        spot                  utc_time
0      36.99 2017-12-31 23:00:00+00:00
1      31.08 2018-01-01 00:00:00+00:00
2      29.17 2018-01-01 01:00:00+00:00
3      21.96 2018-01-01 02:00:00+00:00
4      14.96 2018-01-01 03:00:00+00:00
...      ...                       ...
17179  47.55 2019-12-17 19:00:00+00:00
17180  41.18 2019-12-17 20:00:00+00:00
17181  41.53 2019-12-17 21:00:00+00:00
17182  39.84 2019-12-17 22:00:00+00:00
17183  38.81 2019-12-17 23:00:00+00:00

[17184 rows x 2 columns]

Create maximum number of possible 168 hour sequences and put them into table format:

In [12]:
def create_sequences(in_array, sequence_length):
    out_array = np.zeros((len(in_array)-sequence_length+1, sequence_length), dtype=np.float32)

    for i in tqdm(range(len(in_array)-sequence_length+1)):
        out_array[i] = np.array(in_array[i:i+sequence_length])

    return out_array

In [13]:
len(df_train.spot)

17184

In [14]:
X_train = create_sequences(df_train.spot, 168)

  0%|          | 0/17017 [00:00<?, ?it/s]

In [15]:
X_train

array([[36.99, 31.08, 29.17, ..., 42.58, 45.05, 33.3 ],
       [31.08, 29.17, 21.96, ..., 45.05, 33.3 , 21.95],
       [29.17, 21.96, 14.96, ..., 33.3 , 21.95, 19.67],
       ...,
       [42.43, 37.36, 34.94, ..., 47.55, 41.18, 41.53],
       [37.36, 34.94, 33.57, ..., 41.18, 41.53, 39.84],
       [34.94, 33.57, 32.8 , ..., 41.53, 39.84, 38.81]], dtype=float32)

The different columns represent the hour 1 to hour 168, but indexed at zero, hence only until 167. Each row will be fed into the neural network.

In [16]:
pd.DataFrame(X_train).head(3)

,0,1,2,3,4,5,6,7,8,9,...,158,159,160,161,162,163,164,165,166,167
0,36.990002,31.080000,29.170000,21.959999,14.96,-5.92,-6.10,-10.02,-5.71,-1.88,...,20.660000,20.299999,24.150000,32.270000,46.389999,46.919998,45.450001,42.580002,45.049999,33.299999
1,31.080000,29.170000,21.959999,14.960000,-5.92,-6.10,-10.02,-5.71,-1.88,-10.48,...,20.299999,24.150000,32.270000,46.389999,46.919998,45.450001,42.580002,45.049999,33.299999,21.950001
2,29.170000,21.959999,14.960000,-5.920000,-6.10,-10.02,-5.71,-1.88,-10.48,-6.79,...,24.150000,32.270000,46.389999,46.919998,45.450001,42.580002,45.049999,33.299999,21.950001,19.670000

## MILP

Find the solutions for the validation and testing periods.

In [17]:
milp_solver = MILP(plant_params=plant_params, spot=df_val["spot"], utc_time=df["utc_time"])
milp_model, milp_status, milp_profile = milp_solver.solve()
print(milp_status)
print(milp_model.objective.value())
milp_profile.head(2)

Optimal
46943.0

   water_level  action colour_id                  utc_time   spot
0        375.0      -1      pump 2017-12-31 23:00:00+00:00  35.45
1        750.0      -1      pump 2018-01-01 00:00:00+00:00  34.29

In [18]:
milp_solver = MILP(plant_params=plant_params, spot=df_test["spot"], utc_time=df["utc_time"])
milp_model, milp_status, milp_profile = milp_solver.solve()
print(milp_status)
print(milp_model.objective.value())
milp_profile.head(2)

Optimal
43665.0

   water_level  action colour_id                  utc_time  spot
0        375.0      -1      pump 2017-12-31 23:00:00+00:00  7.50
1        750.0      -1      pump 2018-01-01 00:00:00+00:00  5.47

## Feed Forward Neural Network

Predict the full week (168 output neurons, sigmoid activation to output values between 0 and 1, then use thresholds for translations into actions).

In [332]:
class ANN(nn.Module):
    def __init__(self, input_size, output_size, hidden_layers, hidden_size):
        super(ANN, self).__init__()
        self.input_size = input_size
        self.output_size = output_size
        self.hidden_layers = hidden_layers
        self.hidden_size = hidden_size
        
        # Define input layer
        self.input_layer = nn.Linear(input_size, hidden_size)
        
        # Define hidden layers
        self.hidden_layers = nn.ModuleList()
        for _ in range(hidden_layers):
            self.hidden_layers.append(nn.Linear(hidden_size, hidden_size))
        
        # Define output layer
        self.output_layer = nn.Linear(hidden_size, output_size)
        
    def forward(self, x):
        x = torch.relu(self.input_layer(x))
        for layer in self.hidden_layers:
            x = torch.relu(layer(x))
        x = torch.sigmoid(self.output_layer(x))
        return x

In [333]:
model = ANN(input_size=168, output_size=168, hidden_layers=1, hidden_size=16)
model

ANN(
  (input_layer): Linear(in_features=168, out_features=16, bias=True)
  (hidden_layers): ModuleList(
    (0): Linear(in_features=16, out_features=16, bias=True)
  )
  (output_layer): Linear(in_features=16, out_features=168, bias=True)
)

In [334]:
def encode_chromosome(model):
    """
    Encodes the model parameters into a single chromosome, which can be used for genetic algorithms.
    """
    chromosome = torch.tensor([])

    for param in model.parameters():
        chromosome = torch.cat((chromosome, param.view(-1)))

    return chromosome


def decode_chromosome(model, chromosome):
    """
    Decodes the chromosome into the model parameters and updates the model with the new parameters.
    """
    model_params = list(model.parameters())
    start = 0

    for param in model_params:
        end = start + torch.numel(param)
        param.data = chromosome[start:end].view(param.size())
        start = end

In [335]:
encode_chromosome(model)

tensor([-0.0164,  0.0534,  0.0158,  ...,  0.2435,  0.1798, -0.0679],
       grad_fn=<CatBackward0>)

In [336]:
# decode_chromosome(model, torch.zeros(len(encode_chromosome(model))))
# list(model.parameters())

Experimentally setting the model parameters back to zero shows that the update of the neural net actually works.

In [337]:
next(model.parameters()).dtype

torch.float32

In [338]:
X_train[0].dtype

dtype('float32')

In [339]:
model(torch.tensor(X_train[0]))

tensor([9.9954e-01, 1.0544e-01, 9.8233e-01, 7.2196e-03, 8.0297e-01, 3.6133e-01,
        9.9942e-01, 6.8944e-01, 3.5738e-01, 1.7934e-01, 3.7488e-01, 9.9930e-01,
        5.2016e-02, 2.5611e-01, 9.1975e-01, 2.6994e-01, 3.6806e-04, 2.0376e-02,
        6.5662e-01, 7.2310e-01, 9.9623e-01, 4.9419e-01, 9.9822e-01, 3.2406e-01,
        1.2420e-01, 9.8144e-01, 4.7712e-02, 9.6512e-01, 9.9987e-01, 3.4281e-01,
        2.3713e-01, 8.2167e-01, 9.7964e-01, 1.8996e-01, 9.9920e-01, 7.1872e-01,
        9.9661e-01, 9.9730e-01, 9.1141e-01, 4.7923e-03, 6.9358e-01, 9.9846e-01,
        9.9476e-01, 6.1930e-01, 2.0451e-01, 7.0697e-01, 9.4413e-02, 1.3659e-01,
        7.5255e-02, 6.0207e-02, 5.9773e-04, 8.4599e-01, 2.6087e-02, 9.9870e-01,
        8.4449e-01, 5.1788e-04, 4.0629e-01, 7.9581e-01, 9.1836e-01, 2.7331e-01,
        2.8069e-01, 4.0207e-02, 2.6253e-03, 7.6502e-04, 4.2819e-05, 2.1126e-01,
        5.6417e-01, 8.0654e-01, 9.9908e-01, 9.8491e-01, 1.1951e-01, 9.6510e-01,
        9.9989e-01, 9.9974e-01, 2.3200e-01, 9.9707e-01, 7.3571e-02, 9.9249e-01,
        7.6623e-04, 7.4922e-02, 2.7115e-02, 1.0000e+00, 9.2903e-02, 5.9795e-02,
        6.4709e-01, 3.1242e-02, 6.4317e-01, 4.9929e-05, 9.4629e-01, 9.9976e-01,
        9.7096e-01, 2.6416e-02, 9.9453e-01, 2.7009e-01, 3.5631e-06, 5.4868e-01,
        9.9362e-01, 8.1822e-03, 5.0645e-03, 5.7837e-01, 9.4386e-01, 9.9785e-01,
        5.6455e-03, 9.6395e-01, 9.4920e-01, 9.9995e-01, 1.9188e-02, 9.3914e-01,
        2.2730e-01, 2.1105e-03, 2.9785e-03, 9.4574e-01, 9.9993e-01, 9.3224e-01,
        4.5907e-01, 9.7875e-01, 7.0097e-01, 2.0580e-01, 9.9503e-01, 8.6479e-02,
        9.9147e-01, 3.9709e-01, 9.7724e-01, 1.6276e-01, 3.7960e-02, 9.6037e-01,
        6.8135e-01, 1.1044e-03, 4.9703e-03, 5.0036e-02, 3.9345e-03, 8.7847e-02,
        3.7841e-02, 2.1072e-02, 9.8656e-01, 5.4327e-05, 8.0389e-01, 9.9712e-01,
        9.9909e-01, 9.3993e-01, 9.2519e-01, 4.7394e-03, 9.9997e-01, 8.4451e-04,
        9.9982e-01, 9.9902e-01, 2.0567e-01, 9.0090e-02, 8.9708e-01, 9.9971e-01,
        8.2319e-03, 5.0795e-03, 4.0094e-04, 2.6277e-02, 2.9472e-02, 3.4020e-01,
        1.5044e-01, 9.5471e-01, 2.1583e-01, 9.5670e-01, 9.8602e-01, 4.5873e-03,
        9.9918e-01, 9.7556e-01, 9.9751e-01, 9.9998e-01, 9.9952e-01, 8.3811e-01],
       grad_fn=<SigmoidBackward0>)

### Generalising from one to another week

In [ ]:
model = ANN(input_size=169, output_size=168, hidden_layers=1, hidden_size=16)

In [20]:
ga_solver = GA_Actions_Tournament(
    plant_params=plant_params, spot=df["spot"], utc_time=df["utc_time"]
)

population, fitnesses, best_ind, history = ga_solver.train(
    config={
        "MUTPB": 1.0,
        "POP_SIZE": 100,
        "CXPB": 0.3,
        "INITIAL_MUTATION_RATE": 0.05,
        "FINAL_MUTATION_RATE": 0.005,
        "TOURNAMENT_SIZE": 4,
    },
    total_generations=500,
    tune_mode=False,
)

  0%|          | 0/500 [00:00<?, ?it/s]

KeyboardInterrupt:

In [18]:
history

     generation      best      average       worst
0             0 -293032.0 -9980398.028 -10460514.0
1             1 -297433.0 -9738494.206 -10389603.0
2             2 -243306.0 -9532594.974 -10409811.0
3             3 -161953.0 -9400322.812 -10345659.0
4             4 -153819.0 -9079379.224 -10440012.0
..          ...       ...          ...         ...
295         295  298162.0  -442471.250  -9750296.0
296         296  298162.0  -142067.478  -9744398.0
297         297  298162.0  -202000.952  -9749372.0
298         298  298162.0   -82016.506  -9722400.0
299         299  298162.0   118074.350  -9746730.0

[300 rows x 4 columns]

In [21]:
(
    pn.ggplot(
        data=(
            history.drop("worst", axis=1)
            .melt(id_vars="generation")
        ),
        mapping=pn.aes(x="generation", y="value", colour="variable"),
    )
    + pn.geom_line()
    + pn.theme(figure_size=[6, 3])
    # + pn.scale_y_log10()
)

NameError: name 'history' is not defined

### Elite Selection

In [23]:
ga_solver = GA_Actions_Elite(
    plant_params=plant_params, spot=df["spot"], utc_time=df["utc_time"]
)

population, fitnesses, best_ind, history = ga_solver.train(
    config={
        "MUTPB": 1,
        "POP_SIZE": 1000,
        "INITIAL_MUTATION_RATE": 0.05,
        "FINAL_MUTATION_RATE": 0.005,
        "INITIAL_EXPLORATION":0.8,
        "ELITISM": 0.2,
    },
    total_generations=500,
    tune_mode=False,
)

  0%|          | 0/500 [00:00<?, ?it/s]

In [24]:
history

     generation      best      average       worst
0             0 -222606.0 -9929118.061 -10546732.0
1             1 -184636.0 -9709979.027 -10436068.0
2             2 -147540.0 -9426174.036 -10419410.0
3             3 -157399.0 -9060452.455 -10466355.0
4             4 -149594.0 -8915066.782 -10507443.0
..          ...       ...          ...         ...
495         495  332047.0 -3320078.164  -9764185.0
496         496  332047.0 -3029849.953  -9738900.0
497         497  332047.0 -3288952.718  -9746401.0
498         498  332047.0 -3730213.806  -9758546.0
499         499  332047.0 -3219299.807  -9739194.0

[500 rows x 4 columns]